---
import Layout from "../components/Layout.astro";
import { GitHub, Linkedin, Mail, FileText } from "react-feather";
import ProjectCollection from "../components/ProjectCollection";
---

<Layout title="Broadwell's Projects">
    <header class="p-6">
        <h1 class="text-3xl font-bold mb-2">Broadwell's Projects</h1>
        <div class="flex">
            <a class="mr-2" href="https://github.com/broad-well" target="_self" aria-label="GitHub"><GitHub /></a>
            <a class="mr-2" href="https://www.linkedin.com/in/michael-peng-0a669617b/" target="_self" aria-label="LinkedIn"><Linkedin /></a>
            <a class="mr-2" href="mailto:broadwell+broaderator@broaderator.com" aria-label="Email"><Mail /></a>
            <a href="assets/complete.pdf" target="_blank" aria-label="Resume"><FileText /></a>
        </div>
    </header>
    <ProjectCollection client:idle />
    <footer class="p-4 text-right">
        &copy; 2025 Michael Peng
    </footer>
</Layout>
